# for local
#CONFIG_PATH=./config/local.yaml

# for prod
CONFIG_PATH=./config/prod.yaml

# http
HTTP_SERVER_PASSWORD=yourpasswordhere

# postgres settings
POSTGRES_HOST=pg # name of postgres container
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpass
POSTGRES_DB=yourdbname