CONFIG_PATH=./config/local.yaml
HTTP_SERVER_PASSWORD=yourpasswordhere

# postgres settings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_SSLMODE=disable
POSTGRES_USER=youruser
POSTGRES_PASSWORD=yourpass
POSTGRES_DB=yourdbname